/* RecipeDetails.css */
.recipe-details {
  padding: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  margin-right: 85px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recipe-card h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.recipe-card p {
  font-size: 1rem;
  margin: 8px 0;
}

.recipe-details h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-details .recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .recipe-card {
    width: 100%;
    margin: 8px 0;
  }

  .recipe-details .recipe-list {
    /* flex-direction: row; */
    justify-content: space-around;
  }
}
